<ion-header>
</ion-header>

<ion-content>
  <ion-icon name ="close" class = "close-icon" (click)="close()"></ion-icon>
  
 <swiper-container
 [initialSlide]="0"
  [slidesPerView]="1"
  [speed]="40000">
 
  <swiper-slide *ngFor="let slide of slides">
    <h1> {{slide.title}} </h1>
    <img src = {{slide.img}} />
  <p class="my-favorite-text-color"> {{slide.description}} </p>
 
  <br>
  <ion-list>
  <h1>Canciones mas escuchadas del 2023 </h1>
    <ion-item>
    
      <ion-label> Bizarrap Music Sessions 53 - Bizarrap y Shakira </ion-label>
      <ion-badge class = "ion-badge"> #1 </ion-badge>
    </ion-item>
    <ion-item>
      <ion-label> Flowers - Miley Cyrus </ion-label>
      <ion-badge class = "ion-badge-2"> #2 </ion-badge>
    </ion-item>
    <ion-item>
      <ion-label> TQG - Shakira y Karol G </ion-label>
      <ion-badge class = "ion-badge-3"> #3 </ion-badge>
    </ion-item>
    <ion-item>
      <ion-label> Llylm - Rosalia </ion-label>
      <ion-badge class = "ion-badge-4"> #4 </ion-badge>
    </ion-item>
    <ion-item>
      <ion-label> Chulo - Bad Gyal </ion-label>
      <ion-badge class = "ion-badge-5"> #5 </ion-badge>
    </ion-item>
  </ion-list>

  <br>
  <br>
  <ion-list>
    <ion-item>
      <ion-toggle> Recibir notificaciones </ion-toggle>
    </ion-item>
  </ion-list>
  
 </swiper-slide>

 </swiper-container>
</ion-content>