<ion-header>
</ion-header>

<ion-content>
  <ion-icon name ="close" class = "close-icon" (click)="close()"></ion-icon>
 <swiper-container
 [initialSlide]="0"
  [slidesPerView]="1"
  [speed]="40000">
 
  <swiper-slide *ngFor="let slide of slides">
    <h1 class = "my-favorite-text-color"> {{slide.title}}  </h1>
    <ion-icon class= "slide-icon" name = "{{slide.icon}}"></ion-icon>
    <img src = {{slide.img}} />
  <p> {{slide.description}} </p>
 </swiper-slide>

 </swiper-container>
</ion-content>