<ion-header>
</ion-header>

<ion-content>
  <ion-icon name ="close" class = "close-icon" (click)="close()"></ion-icon>
  
 <swiper-container
 [initialSlide]="0"
  [slidesPerView]="1"
  [speed]="40000">
 
  <swiper-slide *ngFor="let slide of slides">
    <h1> {{slide.title}}   <ion-icon class= "slide-icon" name = "{{slide.icon}}"></ion-icon> </h1>
    <img src = {{slide.img}} />
  <p class="my-favorite-text-color"> {{slide.description}} </p>
  <ion-list>
    <ion-item>
      <ion-label> Peliculas </ion-label>
      <ion-badge class = "ion-badge"> 30k </ion-badge>
    </ion-item>
    <ion-item>
      <ion-label> Musica </ion-label>
      <ion-badge class = "ion-badge-2"> 50k </ion-badge>
    </ion-item>
    <ion-item>
      <ion-label> Libros </ion-label>
      <ion-badge class = "ion-badge-3"> 20k </ion-badge>
    </ion-item>
    <ion-item>
      <ion-label> Series </ion-label>
      <ion-badge class = "ion-badge-4"> 60k </ion-badge>
    </ion-item>
    <ion-item>
      <ion-label> Juegos </ion-label>
      <ion-badge class = "ion-badge-5"> 15k </ion-badge>
    </ion-item>
  </ion-list>

  <br>
  <br>
  <ion-list>
    <ion-item>
      <ion-toggle> Recibir notificaciones </ion-toggle>
    </ion-item>
  </ion-list>
  
 </swiper-slide>

 </swiper-container>
</ion-content>