.my-favorite-text-color {
  color: #00BFA5;}

p {font-size: var(--my-favorite-font-size); 
    font-family: var(--font-family);}

ion-avatar {
  height: 100px;
  width: 100px;}

swiper-slide {
  height: 120px;}

  .album-style {
    --border-radius: 4px;
}