<ion-header collapse="fade">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
  <ion-title class="my-favorite-text-color">
    <h1> Spotify </h1>
  </ion-title>
</div>

<ion-grid>
  <ion-row>
    <ion-col>
      <div class ="ion-text-start">
        <p class="my-favorite-text-color"> Spotify es un servicio de música, pódcasts y vídeos digitales que te da acceso a millones de canciones y a otro contenido de creadores de todo el mundo. Las funciones básicas, como escuchar música, son totalmente gratis, pero también tienes la opción de mejorar tu cuenta con Spotify Premium. </p>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
<ion-row>
  <ion-col>
    <div class ="ion-text-capitalize">
      <p class="my-favorite-text-color"> fundadores: daniel ek, martin lorentzon <br>
       director ejecutivo: daniel ek </p>
    </div>
  </ion-col>
</ion-row>
</ion-grid>

  <h1 class="ion-text-center">Artistas</h1>
  <swiper-container 
  [initialSlide]="0"
  [slidesPerView]="3"
  *ngIf="artists?.length > 0"
  >
    <swiper-slide *ngFor="let artist of artists">
      <ion-avatar (click)="showSongs(artist)">
        <img src="{{artist.image}}" />
        <span>{{artist.name}}</span>
      </ion-avatar>
    </swiper-slide>
  </swiper-container>

  <br>
  <h1 class="ion-text-center">Albumes</h1>
  <swiper-container 
  [initialSlide]="0"
  [slidesPerView]="3"
  *ngIf="albums?.length > 0"
  >
    <swiper-slide *ngFor="let album of albums">
      <ion-avatar class="album-style" (click)="showAlbumSongs(album)">
        <img src="{{album.image}}" />
        <span>{{album.name}}</span>
      </ion-avatar>
    </swiper-slide>
  </swiper-container>

</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-start">
        {{ parseTime(currentSong?.currentTime) || "0:00" }}
      </ion-col>
      <ion-col class="ion-text-end">
        {{ parseTime(currentSong?.duration) || "0:00" }}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-progress-bar [value]="newTime"></ion-progress-bar>
  <ion-grid>
    <ion-row>
      <ion-col size="1">
      <ion-icon name="heart"></ion-icon>
    </ion-col>
    <ion-col size="10" class="ion-text-center">
      <ion-text>{{
        song?.name || "Sin cancion seleccionada"
      }}</ion-text>
    </ion-col>
    <ion-col size="1">
      <ion-icon name="play" (click)="play()" *ngIf="!song?.playing"></ion-icon>
      <ion-icon name="pause" (click)="pause()" *ngIf="song?.playing"></ion-icon>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>