.slide-icon {
  font-size: 25px;
  color: #0000ff;
}

.my-favorite-text-color {
  color: #ffa500;
}

.my-favorite-text-color-2 {
  color: #ffff00;
}

.my-favorite-text-color-3 {
  color: #00ff00;
}

.my-favorite-text-color-4 {
  color: #0000ff;
}

.my-favorite-text-color-5 {
  color: #ff0000;
}

/** h1 {color: var(--ion-color-primary);} **/

p { font-size: var(--my-favorite-font-size); }

/** ion-content {--background: #ff0000;} **/