<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToLogin()">
        Atras
      </ion-button>
    </ion-buttons>
    <ion-title slot="end">
    <h1> Registro </h1>
    </ion-title>
  </ion-toolbar>
</ion-header>


<br>
<ion-content>
<form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">

  <ion-item>
    <ion-input label="Email" labelPlacement="floating" placeholder="name@example.com" formControlName="email"></ion-input>
  </ion-item>

  <div class="validation-errors">
    <ng-container *ngFor="let validation of validation_messages.email">
      <div *ngIf="(
        registerForm.get('email')?.hasError(validation.type) && 
        registerForm.get('email')?.dirty) 
      ">
        {{validation.message}}
      </div>
    </ng-container>
  </div>

  <ion-item>
    <ion-input label="Password" labelPlacement="floating" placeholder="*******" formControlName="password"></ion-input>
  </ion-item>

  <div class="validation-errors">
    <ng-container *ngFor="let validation of validation_messages.password">
      <div *ngIf="registerForm.get('password')?.hasError(validation.type) && registerForm.get('password')?.dirty">
        {{ validation.message }}
      </div>
    </ng-container>
  </div>

  <ion-item>
    <ion-input label="Name" labelPlacement="floating" placeholder="Nombre" formControlName="name"></ion-input>
  </ion-item>

  <div class="validation-errors">
    <ng-container *ngFor="let validation of validation_messages.name">
      <div *ngIf="registerForm.get('name')?.hasError(validation.type) && registerForm.get('name')?.dirty">
        {{ validation.message }}
      </div>
    </ng-container>
  </div>


  <ion-item>
    <ion-input label="Last Name" labelPlacement="floating" placeholder="Apellido" formControlName="last_name"></ion-input>
  </ion-item>

  <div class="validation-errors">
    <ng-container *ngFor="let validation of validation_messages.last_name">
      <div *ngIf="registerForm.get('last_name')?.hasError(validation.type) && registerForm.get('last_name')?.dirty">
        {{ validation.message }}
      </div>
    </ng-container>
  </div>

  <ion-button
  expand="full"
  shape="round"
  color="success"
  type="submit"
  [disabled]="!registerForm.valid"
>
  Registrarse
</ion-button>

</form>
</ion-content>
